@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

div {
    display: block;
}
/* .form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58.4vh;
} */

/*-----------------------------------------------------------Colors */

.nav-bg {
    background-color: #ECEAEA;
}


/*-----------------------------------------------------------Heading */

/*-----------------------------------------------------------Special paddings,margins,text etc*/


/* .inline-block {
    display: inline-block;
} */

/* .general-sub {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    color: #212529;
} */

/*-----------------------------------------------------------Navbar */

.logo {
    margin-left: 10px;
}

.main-nav {
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 150%;
    letter-spacing: 4px;  
}

.last-nav {
    margin-right: 10px;
}

nav div li {
    margin-left: 20px;
}

#menu {
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid #C4A55F;
}

/*-----------------------------------------------------------Forms Callout */

.my-container {
    
}

.my-row {
    height: 1109px;
}

.my-col-1 {
    background: url("../images/sg-symbol.jpg") repeat-y fixed left;
   
}

.my-col-2 {
    background: url("../images/sg-symbol.jpg") repeat-y fixed right;
    
}

.all-form {
    margin-top: 150px;
}

.form-headers {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    /* padding-bottom: 5px; */
    letter-spacing: 2px;
} 

.form-style {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border: 3px solid #827081;
    border-radius: 5px;
    padding: 10px;
    background-color: #ECEAEA;
    width: 750px;
    position: center;
    margin: auto;
}

.form-labels {
    font-size: 24px;
}

.scroll {
    overflow-x: hidden; 
    overflow-y: auto;
}

.sign-up-link {
    text-decoration: underline;
    color: #C4A55F;
}

.sign-up-link:hover {
    color: #827081;
}

.question {
    padding: 15px; 
    margin-bottom: 4rem;
}

.button-colour {
    background-color: #C4A55F;
    border: 1px solid #000;
}

.button-colour:hover {
    background-color: #827081;
    color: #fff;
}

.contact-d {
    margin-top: 190px;
}

.find-us {
    border: 3px solid #827081;
    border-radius: 5px;
    padding: 10px;
    background-color: #ECEAEA;
    width: 750px;
    position: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

.find-us h3 {
    font-family: inherit;
    font-weight: 400;
    font-size: 24px;
    text-decoration: underline;
}

.find-us p {
    font-family: inherit;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 1px;
}

tr {
    font-size: 15px;
    letter-spacing: 1px;
}

/* .form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58.4vh;
}

.content-container {
    padding-bottom: 343px;
    padding-right: 0;
    padding-left: 0;
}
 */

/*-----------------------------------------------------------Block Dividers */

.block-divider {
    width: 125px;
    height: 3px;
    border: 0;
    background-color: #827081;
    margin-top: 2rem;
    margin-bottom: 2rem; 
}

/*-----------------------------------------------------------Footer */

/* footer {
    
    
    color: #212529;
    
} */

footer {
    display: block;
} 

.footer-align {
    text-align: center;
    background-color: #ECEAEA;
    padding-top: 30px;
    padding-bottom: 15px;
}

/* .page-bottom {
    padding-top: 300px;
} */

.tour-book {
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0;
}

.tour-link i {
    font-size: 35px;
    padding-left: 6px;
    color: #C4A55F;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.tour-link i:hover {
    color: #827081;
}

.social-links li a i {
    font-size: 35px;
    color: #C4A55F;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #827081;
}

.social-links {
    word-spacing: 100px;
}

@media (max-width: 1330px) {
    .navbarNav {
        display: !important;
    }
} 