@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: 
}

div {
    display: block;
}
/*-----------------------------------------------------------Colors */

.nav-bg {
    background-color: #ECEAEA;
}

/*-----------------------------------------------------------Heading */

/*-----------------------------------------------------------Special paddings,margins,text etc*/


.inline-block {
    display: inline-block;
}
/* .general-sub {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    color: #212529;
} */

/*-----------------------------------------------------------Navbar */

.logo {
    margin-left: 25px;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 112.5%;
    letter-spacing: 2px;
    padding: 0;
}

.main-nav {
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 150%;
    letter-spacing: 2px;  
}

.last-nav {
    margin-right: 25px;
}

nav div li {
    margin-left: 20px;
}

#menu {
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid #000000;
}

/*-----------------------------------------------------------Footer */

/* footer {
    
    
    color: #212529;
    
} */

footer {
    display: block;
}

.footer-align {
    text-align: center;
    background-color: #ECEAEA;
    padding-top: 30px;
    padding-bottom: 15px;
}

.page-bottom {
    padding-top: 1000px;
}

.tour-book {
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0;
}

.tour-link i {
    font-size: 35px;
    padding-left: 6px;
    color: #C4A55F;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.tour-link i:hover {
    color: #827081;
}

.social-links li a i {
    font-size: 35px;
    color: #C4A55F;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #827081;
}

.social-links span {
    word-spacing: 100px;
}
