@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

div {
    display: block;
}

main > .container {
    padding-top: 60px;
}

.row {
    margin: 0;
}

/*-----------------------------------------------------------Block Dividers */

.block-divider {
    width: 125px;
    height: 3px;
    border: 0;
    background-color: #827081;
    margin-top: 2rem;
    margin-bottom: 2rem; 
}

/*-----------------------------------------------------------Navbar */


.logo {
    margin-left: 10px;
}

.main-nav {
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 150%;
    letter-spacing: 4px;  
}

.last-nav {
    margin-right: 10px;
}

.nav-bg {
    background-color: #ECEAEA;
}

nav div li {
    margin-left: 20px;
}

#menu {
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid #C4A55F;
}

.show li:hover {
    background-color: #C4A55F;
}

/*-----------------------------------------------------------Buttons and Links */

.sign-up-link {
    text-decoration: underline;
    color: #C4A55F;
}

.sign-up-link:hover {
    color: #827081;
}

.button-colour {
    background-color: #C4A55F;
    border: 1px solid #000;
}

.button-colour:hover {
    background-color: #827081;
    color: #fff;
}

/*-----------------------------------------------------------Home Page */

.jumbotron {
    background-color: transparent;
}

.jumbotron-container {
    background: url("../images/home-image.jpg") no-repeat center center fixed;
    height: 70vh;
    background-size: cover;  
}

/*-----------------------------------------------------------Coming Soon Home Page Section  */

 .jumbotron-container-2 {
    height: 70vh;
    position: relative;
}

.jumbotron-container-2::before {    
      content: "";
      background: url("../images/spa.jpg") no-repeat center center fixed;
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.7;
}

/*-----------------------------------------------------------Home Page,  */

.headline {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    padding-bottom: 30px;
}

.description {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    padding-bottom: 30px;
}

/*-----------------------------------------------------------Home Page Quotes */

.quotes {
    margin: 80px 80px;
}

.quotes-head {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* .quote-box {
    background-color: #ECEAEA;
} */

.quote-sen {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}

.q-name {
    font-weight: 100;
    color: #C4A55F;
}

/* .form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58.4vh;
}

.content-container {
    padding-bottom: 343px;
    padding-right: 0;
    padding-left: 0;
}
 */

/*-----------------------------------------------------------Forms */

.my-row {
    height: 1109px;
}

.my-col-1 {
    background: url("../images/sg-symbol.jpg") repeat-y fixed left;
}

.my-col-2 {
    background: url("../images/sg-symbol.jpg") repeat-y fixed right;
    
}

.all-form {
    margin-top: 150px;
}

.form-headers {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
} 

.form-style {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border: 3px solid #827081;
    border-radius: 5px;
    padding: 10px;
    background-color: #ECEAEA;
    width: 750px;
    margin: auto;
}

.form-labels {
    font-size: 24px;
}

.question {
    padding: 15px; 
    margin-bottom: 4rem;
}

/*-----------------------------------------------------------Contact Form */

.contact-d {
    margin-top: 190px;
}

.find-us {
    border: 3px solid #827081;
    border-radius: 5px;
    padding: 10px;
    background-color: #ECEAEA;
    width: 750px;
   
    margin-top: 80px;
    margin-bottom: 20px;
}

.find-us h3 {
    font-family: inherit;
    font-weight: 400;
    font-size: 24px;
    text-decoration: underline;
}

.find-us p {
    font-family: inherit;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 1px;
}

tr {
    font-size: 15px;
    letter-spacing: 1px;
}

/*-----------------------------------------------------------About Page */

.jumbotron-container-4 {
    height: 50vh;
    position: relative;
}

.jumbotron-container-4::before {    
      content: "";
      background: url("../images/about.jpg") no-repeat center bottom fixed;
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.7;
}


/*-----------------------------------------------------------Cards  */

.card-head {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.my-card-text {
    font-family: inherit;
    font-weight: 300;
    letter-spacing: 2px;
}

.card-border {
    border: 3px solid #827081;
    margin-bottom: 2rem;
}

.card-bg {
    background-color: #ECEAEA;
}

.card-1 {
    margin-top: 100px;
}

.all-cards {
    margin-bottom: 80px;
}

/*-----------------------------------------------------------Classes Page  */

.jumbotron-container-3 {
    height: 50vh;
    position: relative;
}

.jumbotron-container-3::before {    
      content: "";
      background: url("../images/classes.jpg") no-repeat center center fixed;
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.7;
}

.classes-head {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 50px;
    text-transform: uppercase;
    text-align: center;
}

/*-----------------------------------------------------------Timetable Classes Page  */

/* table {
    table-layout: fixed;
    width: 300px;
} */

.table-classes {
    letter-spacing: 2px;
    font-weight: 300;
}

.table-days {
    letter-spacing: 2px;
}

tr:hover td {
    background-color: #C4A55F;
}

.table-bottom {
    margin-bottom: 80px;
}


/* .classes-images {
    height: 250px;
    width: 250px;
    border-radius: 10px;
    float: left;
    (taken out) margin: 5% } */


/*-----------------------------------------------------------Footer */

footer {
    display: block;
} 

/* .footer-size {
    margin: 0;
} */

.footer-align {
    text-align: center;
    background-color: #ECEAEA;
    padding-top: 30px;
    padding-bottom: 15px;
    display: inline;
}

.blank-div {
    text-align: center;
    background-color: #ECEAEA;
    padding-bottom: 15px;
    display: inline;
}

.tour-book {
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0;
}

.tour-link i {
    font-size: 35px;
    padding-left: 6px;
    color: #C4A55F;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.tour-link i:hover {
    color: #827081;
}

.social-links li a i {
    font-size: 35px;
    color: #C4A55F;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #827081;
}

.footer-icon {
    margin-left: 100px;
}

/* @media (max-width: 991px) {
    .nav-item-list {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
} */

/* @media (min-width: 768px) and (max-width: 1330px) {
   .collapse {
       display: none !important;
   }
} */

@media only screen and (max-width: 768px) {
    nav a {
        width: 70%;
    }

    nav a img {
        width: 100%;
    }
    
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    table thead {
        width: 100%;
    }

    table tbody {
        width: 100%;
    }
    

}

@media only screen and (max-width: 576px) {
    footer div 
}

/* .all-table {
    width: 1000px;
    text-align: center;
}

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    table thead {
        display: table;
        width: 100%;
    }

    table tbody {
        display: table;
        width: 100%;
    } */