@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

div {
    display: block;
}

.callout-container {
    height: 80vh;
}
/*-----------------------------------------------------------Colors */

.nav-bg {
    background-color: #ECEAEA;
}


/*-----------------------------------------------------------Heading */

/*-----------------------------------------------------------Special paddings,margins,text etc*/


.inline-block {
    display: inline-block;
}
/* .general-sub {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    color: #212529;
} */

/*-----------------------------------------------------------Navbar */

.logo {
    margin-left: 25px;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 112.5%;
    letter-spacing: 2px;
    padding: 0;
}

.main-nav {
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 150%;
    letter-spacing: 2px;  
}

.last-nav {
    margin-right: 25px;
}

nav div li {
    margin-left: 20px;
}

#menu {
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid #C4A55F;
}

/*-----------------------------------------------------------Forms Callout */

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.form-style {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border: 3px solid #827081;
    border-radius: 5px;
    padding: 10px;
    background-color: #ECEAEA;
}

.all-form {
    margin-top: 50px;
}

.section-header {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    /* padding-bottom: 5px; */
    letter-spacing: 2px;
}

.block-divider {
    width: 125px;
    height: 3px;
    border: 0;
    background-color: #827081;
    margin-top: 2rem;
    margin-bottom: 2rem; 
}

.question {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    /* padding: 15px; */
    letter-spacing: 2px;
    margin-bottom: 4rem;
}

.sign-up-link {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    text-decoration: underline;
    color: #C4A55F;
}

.sign-up-link:hover {
    color: #827081;
}

.actual-form {
    margin-top: 25px; 
}

.button-colour {
    background-color: #C4A55F;
    border: 1px solid #000;
    
}

.button-colour:hover {
    background-color: #827081;
}

/*-----------------------------------------------------------Footer */

/* footer {
    
    
    color: #212529;
    
} */

footer {
    display: block;
}

.footer-align {
    text-align: center;
    background-color: #ECEAEA;
    padding-top: 30px;
    padding-bottom: 15px;
}

.page-bottom {
    padding-top: 158px;
}

.tour-book {
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0;
}

.tour-link i {
    font-size: 35px;
    padding-left: 6px;
    color: #C4A55F;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.tour-link i:hover {
    color: #827081;
}

.social-links li a i {
    font-size: 35px;
    color: #C4A55F;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #827081;
}

.social-links {
    word-spacing: 100px;
}
